# datasets / recordings / outputs
datasets/
episode_*/
logs/
outputs/
MUJOCO_LOG.TXT

# junk files accidentally created
Any
DOF
None
dict
float
int
object
sim
str
string
tuple
tuple'a
Iterator[np.ndarray]
Optional[int]
Optional[Tuple[int
Tuple[float
Tuple[Optional[Tuple[int
wrist_flex
wrist_roll
shoulder_pan
shoulder_lift
elbow

*.log
