# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Big outputs / training / datasets
outputs/
datasets/
**/checkpoints/
**/training_state/
*.mp4
*.npz

# logs
*.log
